<!-- criado a partir do curso da Cod3r para aprendizado da biblioteca VueJS-->
<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <script src="js/vue.min.js"></script>
    <script src="js/qrious.min.js"></script>
    <link rel="stylesheet" href="css/style.css">
    <title>Gerador de QRCode</title>
</head>

<body>
    <div id="app">
        <h1> {{ title }}</h1>
        <div>
            <input type="text" v-model="text" placeholder="Digite oa valor">
        </div>
        <div v-if="text" class="output">
            <img :src="newQRcode" alt="QRCode">
        </div>
    </div>
    <script>
        new Vue({
            el: "#app",
            data: {
                title: "Gerador de QRCode",
                text: "https://google.com.br",
                qrcode: new QRious({
                    size: 300
                })
            },
            computed: {
                newQRcode() {
                    this.qrcode.value = this.text
                    return this.qrcode.toDataURL()
                }
            }

        })
    </script>
</body>

</html>